*::selection{
  background-color: #eaeaea;
  color: #0099ff;
}

*, *::after, *::before{
  font-family: "Quicksand", sans-serif!important;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: relative;
  --sb-thumb-color: #0099ff;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

#about-img {
  background: url(https://res.cloudinary.com/dipoe9wir/image/upload/v1726101932/selfie-headphone-curt_nxnlfa.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 420px;
  width: 420px;
  border-radius: 61% 36% 44% 50% / 57% 36% 62% 41%;
  -webkit-box-shadow: inset 3px 3px 10px 3px #a5a5a5;
  -moz-box-shadow: inset 3px 3px 10px 3px #a5a5a5;
  box-shadow: inset 3px 3px 10px 3px #a5a5a5;
  -webkit-box-shadow: 3px 3px 10px 3px #a5a5a5;
-moz-box-shadow: 3px 3px 10px 3px #a5a5a5;
box-shadow: 3px 3px 10px 3px #a5a5a5;
}